.container{

    height: calc(100vh - 50px);
    display: flex;
    position: relative;
    overflow: hidden;
}
.card{
    flex: 1;
    padding: 100px;
    padding-right: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.title{
    font-size: 50px;
    margin: 0;

}
.brand{
    color: #2425267e;
}

.desc{
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}
.button{
    width: 100px;
    border: .2px solid #242526;

    border-radius: 1rem;
    padding:  1rem;
    background: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 99999999999999999999999;
}

.button:hover{
    background: #242526;
    color: #fff;
}