.container {
    display: flex;
    padding: 120px 50px;
    height: 100vh;
  }
  
  .cardL {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardS {
    flex: 1;
  }
  
  .imgContainer {
    width: 30%;
    margin: 5px;
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgContainer:nth-child(3) {
    overflow: hidden;
  }
  
  .title {
    font-size: 60px;
    word-break: break-all;
    text-transform: capitalize;
  }
  
  .button {
    padding: 15px;
    border: none;
    background-color: #242526;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
  }
  